<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
    <h1>norcal arcadian 2025 fantasy! :)</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" style="text-align:center; font-weight:bold; color:green;">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}
    <h2>
        {% if session.user_id %}
        <a class="button grayButton" href="{{ url_for('create') }}">create team</a>
            <a class="button grayButton" href="{{ url_for('logout') }}">logout</a>
        {% else %}
            <a class="button grayButton" href="{{ url_for('login') }}">login</a>
            <a class="button grayButton" href="{{ url_for('register') }}">register</a>
        {% endif %}
    </h2>
    <h2>leaderboard</h2>
    <div class="flex-container">
        <div class="leaderboard-container" style="left: 30%">
            <table style="width: 100%">
                <tr>
                    <th style="width: 10%">Rank</th>
                    <th style="width: 30%">Player</th>
                    <th style="width: 40%">Team</th>
                    <th style="width: 20%">Score</th>
                </tr>
                {% for entry in leaderboard %}
                <tr>
                    <td>{{ entry.rank }}</td>
                    <td>{{ entry.display_name }}</td>
                    <td><button class="link-button" id="button-team{{ loop.index }}" data-team-id="{{ entry.team_id }}">{{ entry.team_name }}</button></td>
                    <td>{{ entry.points }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="new">

        </div>
        <!-- <div class="leaderboard-container" style="width: 20%; left: 70%; top: 79.5%; height: 120%; justify-content: center;"> -->
            <!-- <button class="link-button" id="x-button" style="color: #ff0000">X</button>
            <h2>Gang Bangers of All Time</h2>
            <div class="team-view">
                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 1</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 2</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 3</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 4</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 5</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 6</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 7</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 8</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 9</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 10</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 11</div>
                    <div class="status">Empty</div>
                </div>

                <div class="player-card" style="margin: 3%">
                    <div class="label">Player 12</div>
                    <div class="status">Empty</div>
                </div>
            </div> -->
        <!-- </div> -->
    </div>
    {% endblock %}
</body>
<script src="/static/serve.js" charset="utf-8"></script>